body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding-top: 60px;
}
.footer {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer-text {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 13px;
}
.pix-cinematic {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 13px;
}
.blog-button-container {
    text-align: center;
    margin-bottom: 50px;
}
.blog {
    background-color: transparent;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
.blog:active {
    background-color: black;
    color: white;
}
.contatct-handles {
    margin-top: 10px;
    margin-bottom: 450px;
}
.contatct-individual {
    display: grid;
    grid-template-columns: 60px 1fr;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}
.contact-text0 {
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
    font-weight:500;
}
.contatct-img {
    height: 50px;
    margin-right: 10px;
    align-self: center;
}
.contact-text {
    align-self: center;
    color: black;
}
.anchor-contact {
    text-decoration: none;
}
@media screen and (max-width: 767px) {
    
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}
@media screen and (min-width: 1025px) {
    .nav-items {
        display: inline-block;
        max-width: 300px;
    }
}